<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="DocumentPreviewTest">
            <directory>./test</directory>
            <file>./test/testDocumentPreview.php</file>
            <file>./test/DocumentConvertTest.php</file>
            <file>./test/DocumentFileTest.php</file>
            <file>./test/ImageFileTest.php</file>
            <file>./test/PdfFileTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>